@import "tailwindcss";
@plugin '@tailwindcss/typography';

@layer base {
  body {
    @apply bg-[#3A2E07] text-neutral-100 min-h-screen;
    margin: 0;
  }
}

@theme {
  --color-primary-500: #eab308;
  --color-primary-700: #f8dcac;
  --color-primary-950: #fefaf4;
  --color-secondary-800: #2a2415;
  --color-danger: #ef4444;
  --color-success: #13ec37;
}

h1 {
  @apply text-4xl font-medium;
}
